@inherits CompBlazorPaint_Logic
@using System
@using System.Linq
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Web
@implements System.IDisposable
@inject IJSRuntime JsRuntime

<BPaintJsInterop_component></BPaintJsInterop_component>

<p>@displayableVersion&nbsp;:&nbsp;@strDebugRelease</p>

<link href="css/styles.css" rel="stylesheet" type="text/css" />

<div style="width: 100%">

    <table width="100%">
        <tr>
            <td valign="top" colspan="2">
                <div id="OperationalModeGroup" class="outlined" style="line-height: 25px; width: 200px;">
                <legend>Mode</legend>
                <button id="btnSelectMode" title="Select mode" class="@btnSelectMode_CSSclass" style="cursor: default" @onclick="btnSelectMode_onClick">

                <svg id="btnSelectModeSVGicon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="42px" height="42px" fill="black" stroke="black" viewBox="0 0 512 512" style="enable-background: new 0 0 512 512;" xml:space="preserve">
                <path d="M507.606,422.754l-87.508-87.508l42.427-42.426c3.676-3.676,5.187-8.993,3.992-14.053s-4.923-9.14-9.855-10.784   l-36.7-12.233c0.012-0.25,0.038-0.497,0.038-0.75v-60c0-8.284-6.716-15-15-15s-15,6.716-15,15v50.762L202.104,183.13   c-5.388-1.798-11.333-0.394-15.35,3.624c-4.018,4.018-5.421,9.96-3.624,15.35L245.762,390H195c-8.284,0-15,6.716-15,15   s6.716,15,15,15h60c0.253,0,0.499-0.025,0.749-0.038l12.233,36.7c1.645,4.932,5.725,8.661,10.784,9.855   c5.06,1.196,10.377-0.315,14.053-3.992l42.427-42.426l87.508,87.507c2.929,2.929,6.768,4.394,10.606,4.394   s7.678-1.464,10.606-4.394l63.64-63.64C513.465,438.109,513.465,428.612,507.606,422.754z M433.36,475.787l-87.508-87.507   c-5.857-5.858-15.356-5.858-21.213,0l-35.871,35.871l-67.691-203.073l203.073,67.691l-35.871,35.871   c-5.853,5.852-5.858,15.356,0,21.213l87.508,87.508L433.36,475.787z" />
                <path d="M135,0h-30c-8.284,0-15,6.716-15,15s6.716,15,15,15h30c8.284,0,15-6.716,15-15S143.284,0,135,0z" />
                <path d="M195,30h30c8.284,0,15-6.716,15-15s-6.716-15-15-15h-30c-8.284,0-15,6.716-15,15S186.716,30,195,30z" />
                <path d="M285,30h30c8.284,0,15-6.716,15-15s-6.716-15-15-15h-30c-8.284,0-15,6.716-15,15S276.716,30,285,30z" />
                <path d="M135,390h-30c-8.284,0-15,6.716-15,15s6.716,15,15,15h30c8.284,0,15-6.716,15-15S143.284,390,135,390z" />
                <path d="M375,30h15v15c0,8.284,6.716,15,15,15s15-6.716,15-15V15c0-8.284-6.716-15-15-15h-30c-8.284,0-15,6.716-15,15   S366.716,30,375,30z" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































                <path d="M45,0H15C6.716,0,0,6.716,0,15v30c0,8.284,6.716,15,15,15s15-6.716,15-15V30h15c8.284,0,15-6.716,15-15S53.284,0,45,0z" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































                <path d="M15,150c8.284,0,15-6.716,15-15v-30c0-8.284-6.716-15-15-15S0,96.716,0,105v30C0,143.284,6.716,150,15,150z" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































                <path d="M15,240c8.284,0,15-6.716,15-15v-30c0-8.284-6.716-15-15-15s-15,6.716-15,15v30C0,233.284,6.716,240,15,240z" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































                <path d="M15,330c8.284,0,15-6.716,15-15v-30c0-8.284-6.716-15-15-15s-15,6.716-15,15v30C0,323.284,6.716,330,15,330z" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































                <path d="M405,90c-8.284,0-15,6.716-15,15v30c0,8.284,6.716,15,15,15s15-6.716,15-15v-30C420,96.716,413.284,90,405,90z" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































                <path d="M45,390H30v-15c0-8.284-6.716-15-15-15s-15,6.716-15,15v30c0,8.284,6.716,15,15,15h30c8.284,0,15-6.716,15-15   S53.284,390,45,390z" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































                </svg>
                </button>

                &nbsp;
                <button id="btnDrawMode" title="Labeling mode" class="@btnDrawMode_CSSclass" style="cursor: default" @onclick="btnDrawMode_onClick">
                        <svg id="btnDrawModeSVGicon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="42px" height="42px" fill="black" stroke="black" viewBox="0 0 60.017 60.017" style="enable-background: new 0 0 60.017 60.017;" xml:space="preserve">
                        <path d="M59.144,3.731l-2.85-2.851c-1.164-1.161-3.057-1.162-4.221,0.001l-3.126,3.126H0v56h56V11.097l0.305-0.305l0,0l2.839-2.839
                                        C60.308,6.789,60.308,4.895,59.144,3.731z M20.047,36.759l3.22,3.22l-4.428,1.208L20.047,36.759z M52.062,12.206L47.82,7.964
                                        l1.414-1.414l4.243,4.242L52.062,12.206z M50.648,13.62L25.192,39.076l-4.242-4.242L46.406,9.378L50.648,13.62z M54,13.097v44.91H2
                                        v-52h44.947L18.829,34.127l-0.188,0.188l-2.121,7.779l-1.226,1.226c-0.391,0.391-0.391,1.023,0,1.414
                                        c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293l1.226-1.226l7.779-2.123l26.351-26.35h0l0.447-0.447L54,13.097z
                                        M57.73,6.539l-2.839,2.839l-4.243-4.243l2.839-2.839c0.384-0.384,1.009-0.383,1.393,0l2.85,2.85
                                        C58.114,5.529,58.114,6.155,57.73,6.539z" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































        </svg>
                    </button>

                </div>
                
                <div id="SunDiskStateGroup" class="outlined" style="line-height: 25px; width: 300px;">
                    <legend>SDS</legend>

                    <button id="btnSetSDS_nosun" title="No sun" class="@btnSelectMode_CSSclass" style="cursor: default" @onclick="btnSetSDS_nosun_onclick">
                        <img src="icons/nosun.png" width="58px" height="42px" />
                    </button>
                    &nbsp;
                    <button id="btnSetSDS_PartiallyCloudy" title="Partially cloudy" class="@btnSelectMode_CSSclass" style="cursor: default" @onclick="btnSetSDS_PartiallyCloudy_onclick">
                        <img src="icons/sun0.png" width="53px" height="42px" />
                    </button>
                    &nbsp;
                    <button id="btnSetSDS_Sun2" title="Sun2" class="@btnSelectMode_CSSclass" style="cursor: default" @onclick="btnSetSDS_Sun2_onclick">
                        <img src="icons/sun2.png" width="42px" height="42px" />
                    </button>
                </div>

                <div id="SelectionAndEditActions" class="outlined" style="line-height: 25px; width: 200px; height: 90%">
                <legend>Commands</legend>

                <button id="btnSelectAll" class="btn btn-primary btn-with-icons" title="Select all" style="cursor: default" @onclick="btnSelectAll_onClick" disabled="@btnSelectAllDisabled">
                <svg id="btnSelectAllSVGicon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="42px" height="42px" x="0px" y="0px" viewBox="0 0 512 512" fill="black" stroke="black" style="enable-background: new 0 0 512 512;" xml:space="preserve">
                <path d="M497,301h-60c-8.284,0-15,6.716-15,15v106H316c-8.284,0-15,6.716-15,15v60c0,8.284,6.716,15,15,15h181   c8.284,0,15-6.716,15-15V316C512,307.716,505.284,301,497,301z M482,482H331v-30h106c8.284,0,15-6.716,15-15V331h30V482z" />
                <path d="M497,0H316c-8.284,0-15,6.716-15,15v60c0,8.284,6.716,15,15,15h106v106c0,8.284,6.716,15,15,15h60c8.284,0,15-6.716,15-15   V15C512,6.716,505.284,0,497,0z M482,181h-30V75c0-8.284-6.716-15-15-15H331V30h151V181z" />
                <path d="M196,0H15C6.716,0,0,6.716,0,15v181c0,8.284,6.716,15,15,15h60c8.284,0,15-6.716,15-15V90h106c8.284,0,15-6.716,15-15V15   C211,6.716,204.284,0,196,0z M181,60H75c-8.284,0-15,6.716-15,15v106H30V30h151V60z" />
                <path d="M196,422H90V316c0-8.284-6.716-15-15-15H15c-8.284,0-15,6.716-15,15v181c0,8.284,6.716,15,15,15h181   c8.284,0,15-6.716,15-15v-60C211,428.716,204.284,422,196,422z M181,482H30V331h30v106c0,8.284,6.716,15,15,15h106V482z" />
                </svg>
                </button>

                <button id="btnDeleteSelectedObjects" class="btn btn-primary btn-with-icons" title="Delete selected" style="cursor: default" @onclick="btnDeleteSelectedObjects_onClick" disabled="@btnDeleteSelectedDisabled">
                <svg id="btnDeleteSelectedObjectsSVGicon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="42px" height="42px" x="0px" y="0px" viewBox="0 0 512 512" fill="black" stroke="black" style="enable-background: new 0 0 512 512;" xml:space="preserve">
                <path d="M436,60h-90V45c0-24.813-20.187-45-45-45h-90c-24.813,0-45,20.187-45,45v15H76c-24.813,0-45,20.187-45,45v30    c0,8.284,6.716,15,15,15h16.183L88.57,470.945c0.003,0.043,0.007,0.086,0.011,0.129C90.703,494.406,109.97,512,133.396,512    h245.207c23.427,0,42.693-17.594,44.815-40.926c0.004-0.043,0.008-0.086,0.011-0.129L449.817,150H466c8.284,0,15-6.716,15-15v-30    C481,80.187,460.813,60,436,60z M196,45c0-8.271,6.729-15,15-15h90c8.271,0,15,6.729,15,15v15H196V45z M393.537,468.408    c-0.729,7.753-7.142,13.592-14.934,13.592H133.396c-7.792,0-14.204-5.839-14.934-13.592L92.284,150h327.432L393.537,468.408z     M451,120h-15H76H61v-15c0-8.271,6.729-15,15-15h105h150h105c8.271,0,15,6.729,15,15V120z" />
                <path d="M256,180c-8.284,0-15,6.716-15,15v212c0,8.284,6.716,15,15,15s15-6.716,15-15V195C271,186.716,264.284,180,256,180z" />
                <path d="M346,180c-8.284,0-15,6.716-15,15v212c0,8.284,6.716,15,15,15s15-6.716,15-15V195C361,186.716,354.284,180,346,180z" />
                <path d="M166,180c-8.284,0-15,6.716-15,15v212c0,8.284,6.716,15,15,15s15-6.716,15-15V195C181,186.716,174.284,180,166,180z" />
                </svg>
                </button>

                </div>

                <div id="LabelsActionsGroup" class="outlined" style="line-height: 25px; width: 500px;">
                <legend>Actions</legend>

                <button class="btn btn-primary btn-with-icons" id="btnPrevExample" style="cursor: default" title="Previous example" @onclick="btnPrevExample_onClick">
                    <svg version="1.1" id="btnPrevExampleSVGicon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="42px" height="42px" x="0px" y="0px" viewBox="0 0 219.151 219.151" fill="black" stroke="black" style="enable-background: new 0 0 219.151 219.151;" xml:space="preserve">
                        <g>
                            <path d="M109.576,219.151c60.419,0,109.573-49.156,109.573-109.576C219.149,49.156,169.995,0,109.576,0S0.002,49.156,0.002,109.575
                          C0.002,169.995,49.157,219.151,109.576,219.151z M109.576,15c52.148,0,94.573,42.426,94.574,94.575
                          c0,52.149-42.425,94.575-94.574,94.576c-52.148-0.001-94.573-42.427-94.573-94.577C15.003,57.427,57.428,15,109.576,15z" />



                            <path d="M94.861,156.507c2.929,2.928,7.678,2.927,10.606,0c2.93-2.93,2.93-7.678-0.001-10.608l-28.82-28.819l83.457-0.008
                          c4.142-0.001,7.499-3.358,7.499-7.502c-0.001-4.142-3.358-7.498-7.5-7.498l-83.46,0.008l28.827-28.825
                          c2.929-2.929,2.929-7.679,0-10.607c-1.465-1.464-3.384-2.197-5.304-2.197c-1.919,0-3.838,0.733-5.303,2.196l-41.629,41.628
                          c-1.407,1.406-2.197,3.313-2.197,5.303c0.001,1.99,0.791,3.896,2.198,5.305L94.861,156.507z" /></g>
                    </svg>
                </button>

                <button class="btn btn-primary btn-with-icons" id="btnSaveLabels" style="cursor: default" title="Save labels" @onclick="btnSaveCurrExampleLabels_onClick">
                <svg version="1.1" id="btnSaveLabelsSVGicon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="42px" height="42px" viewBox="0 0 49 49" style="enable-background: new 0 0 49 49;" stroke="black" xml:space="preserve">
                <g>
                <path d="M39.914,0H37.5h-28h-9v49h7h33h8V8.586L39.914,0z M35.5,2v14h-24V2H35.5z M9.5,47V28h29v19H9.5z M46.5,47h-6V26h-33v21h-5 V2h7v16h28V2h1.586L46.5,9.414V47z" />

                <path d="M13.5,33h7c0.553,0,1-0.447,1-1s-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1S12.947,33,13.5,33z" />

                <path d="M23.5,35h-10c-0.553,0-1,0.447-1,1s0.447,1,1,1h10c0.553,0,1-0.447,1-1S24.053,35,23.5,35z" />































































































































































































































































































































































































































































































































































































































































































































































































                <path d="M25.79,35.29c-0.181,0.189-0.29,0.45-0.29,0.71s0.109,0.52,0.29,0.71C25.979,36.89,26.229,37,26.5,37 c0.26,0,0.52-0.11,0.71-0.29c0.18-0.19,0.29-0.45,0.29-0.71s-0.11-0.521-0.29-0.71C26.84,34.92,26.16,34.92,25.79,35.29z" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































                <path d="M33.5,4h-6v10h6V4z M31.5,12h-2V6h2V12z" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































                </g></svg>

                </button>

                <button class="btn btn-primary btn-with-icons" id="btnNextExample" style="cursor: default" title="Next example" @onclick="btnNextExample_onClick">
                <svg version="1.1" id="btnNextExampleSVGicon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="42px" height="42px" x="0px" y="0px" viewBox="0 0 219.15 219.15" style="enable-background: new 0 0 219.15 219.15;" fill="black" stroke="black" xml:space="preserve">
                <g>
                <path d="M109.575,0C49.156,0,0.002,49.155,0.002,109.576c0,60.419,49.154,109.574,109.573,109.574s109.573-49.155,109.573-109.574
                                    C219.148,49.155,169.994,0,109.575,0z M109.575,204.15c-52.148,0-94.573-42.426-94.573-94.574C15.002,57.427,57.427,15,109.575,15
                                    s94.573,42.427,94.573,94.576C204.148,161.725,161.723,204.15,109.575,204.15z" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































                <path d="M124.29,62.645c-2.929-2.928-7.678-2.928-10.606,0c-2.929,2.93-2.929,7.678,0,10.607l28.821,28.82l-83.457,0.008
                                    c-4.143,0-7.5,3.358-7.5,7.501c0,4.142,3.358,7.499,7.5,7.499l83.46-0.008l-28.827,28.825c-2.929,2.929-2.929,7.678,0,10.606
                                    c1.464,1.465,3.384,2.197,5.303,2.197c1.919,0,3.839-0.732,5.303-2.196l41.629-41.627c1.407-1.407,2.197-3.314,2.197-5.304
                                    c0-1.989-0.79-3.897-2.197-5.304L124.29,62.645z" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































                </g>
                </svg>
                </button>

                </div>


            </td>
        </tr>

        <tr>
            <td colspan="2">
                <br />
                <label>current image name: @CurrentImageBasename</label>
            </td>
        </tr>
        <tr>
            <td colspan="2" valign="top">
                <div style="position: absolute; display: inline-block; position: absolute" width="1200" height="1200">
                    <img id="BackgroundImage" src="@CurrentBackgroundImageURI" width="1200" height="1200">
                </div>

                <div style="position: absolute; background-color: rgba(0, 0, 0, 0.0)" id="PaintArea1" width="1200" height="1200" @onmousedown="onMouseDown" @onmousemove="onMouseMove" @onmouseup="onMouseUp">
                    <CompMySVG @ref="Curr_CompMySVG" parent="@this" par_width="1200" par_height="1200"></CompMySVG>
                </div>

                <div id="ObjectsListGroup" class="outlined" style="        line-height: 25px;
                                                                            width: 600px;
                                                                            min-height: 200px;
                                                                            height: min-content;
                                                                            position: relative;
                                                                            left: 1210px;
                                                                            display: block">
                    <legend>Objects List</legend>
                    <br />
                    &nbsp;

                    @if (ObjectsList.Any())
                    {
            @foreach (var obj in ObjectsList.OrderBy(x => x.SequenceNumber))
            {
            <CompListItem Par_ID="@obj.ObjectID" parent="@this"></CompListItem>
                                <br />}}

                </div>
                <br />
                &nbsp;
                <br />
                @*<div id="debug_info_group" class="outlined" style="line-height: 25px;
                                                                    width: 400px;
                                                                    min-content;
                                                                    position: relative;
                                                                    left: 1210px;
                                                                    display: block">
                    <legend>debug</legend>
                    <br />
                    &nbsp;
                    <p>
                        @LocalData.SVGPosition.ToString()
                    </p>
                    <p>
                        @strCurrMouseLocation
                    </p>
                </div>*@

            </td>
        </tr>
    </table>
</div>
